/* Set global font*/

* {
    font-family: Helvetica;
  
}

body {
    margin: 0;
    background-color: antiquewhite;
}
section  {
        padding: 8px;
}
/*Main header styling*/
h1 {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url("../images/pattern.webp");
    border: 1px solid #000033;
    border-radius: 15px; 
    box-shadow: 5px 5px 5px #1e1e1e;
    margin-top: 70px;
    margin-bottom: 0;
    position: fixed;
    display: inline-block;
    width: 96%;
    left: 2%;
    
}

/*Set section headers to 32px, bold, white font and slight indent*/
h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
    padding-left: 10px;
    margin-top: 180px;
}

#brushes h2 {
    background-color: mediumspringgreen;
    
}

#frames h2 {
    background-color: lightcoral;

}

#paint h2 {
    background-color: skyblue;
}


/*style to pricing to blue and bold */
span.price {
        color:blue;
        font-weight: bold;
}

/*Add shadow and rounded edges to all images*/
img {
    box-shadow: 5px 5px #ccc;
    border-radius: 15px;
}

/*Navigation bar styling*/

nav {
    top: 0;
    width: 100%;
    position: fixed;
}

ul {
    text-align: center;
    
    margin-top: 0;
    padding-left: 0;

}

/*format navigation buttons */

li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient( lightgray, skyblue);
    width: 15%;
    box-shadow: 3px 3px gray;
    
 }


 /*remove standard hyperlink colors */
 a {
     text-decoration: none;
 }

 /* change colour on hover */
 li a:hover{
    color: khaki;
    
}

/*Click effect */
li:active {
    box-shadow: 0 0;
}
 
 